.nav {
    background: orangered;
    padding: 20px;
}

.link {
    margin-right: 10px;
    text-decoration: none;
    background: orange;
    padding: 5PX;
    color: black;
    border-radius: 5px;
    transition: all 0.25s;
}

.link:hover {
    text-decoration: underline;
    font-weight: bold;
}