.btn {
    padding: 10px 36px;
    border: 1px solid orangered;
    border-radius: 4px;
    outline: none;
    background: peru;
    color: white;
    font-size: 14px;
}

.btn:hover {
    cursor: pointer;
}